* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 20px;
  color: salmon;
  justify-content: center;
}



.header__nav-link {
  display: flex;
  list-style-type: none;
  gap: 30px;
  font-size: 24px;
}

.header__nav-link__item:hover {
  cursor: pointer;
  color: saddlebrown;
  font-size: 26px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  background-color: salmon;
  border-radius: 15px;
}

.main__content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 15px 10px;
  background-color: salmon;
  border-radius: 10px;
 
}

.main__content-item {
  display: flex;
  min-width: 320px;
  width: 30%;
  background-color: white;
  border-radius: 15px;
  margin-top: 20px;
}

.main__content-item__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.main__content-item__card-image{
  max-height: 300px;
}

.main__content-item__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.main__content-item__card-info{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5px 15px;
}

.main__content-item__card-info h2{
  margin: 10px 0;
}

.main__content-item__card-info__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: salmon;
  text-transform: uppercase;
}

.main__content-item__card-info__tags ul {
  display: flex;
  gap: 10px;
}

.main__content-item__card-info__tags ul li:nth-of-type(odd) {
  color: blueviolet;
}

.main__content-item__card-info__tags ul li:nth-of-type(even) {
  color: palevioletred;
}

.main__content-item__card-info__para {
  margin: 10px 0;
}

.main__content-item__card-info__button {
  margin-top: auto;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;

}

.main__content-item__card-info__button a {
  background-color: salmon;
  padding: 10px 25px;
  border-radius: 15px;
}

h2 a:hover{
  color: rgb(249, 88, 70);
  text-decoration: underline;
}

.main__content-item__card-info__button a:hover{
  background-color: rgb(249, 88, 70);
  color: black;
}