@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap");

:root {
  /* color */
  --title: #ffffff;
  --para: #d9d9d9;
  --deco: #4ee1a0;
  --primary-bg: #151515;
  --secondary-bg: #242424;

  /* font size and line height for title */
  --fs-h-xl: 8.8rem;
  --lh-h-xl: 8.8rem;
  --fs-h-l: 4.8rem;
  --lh-h-l: 4.8rem;
  --fs-h-m: 2.4rem;
  --lh-h-m: 2.4rem;

  /* font size and line height for paragrapht */
  --fs-para-m: 1.8rem;
  --lh-para-m: 2.8rem;

  /* Breakpoints */
  --sm: 375px;
  --m: 768px;
  --lg: 1440px;

  font-size: 62.25%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8rem;
  background-color: var(--primary-bg);

  background-image: url(images/pattern-rings.svg),
    url(images/pattern-circle.svg), url(images/pattern-rings.svg);
  background-repeat: no-repeat;
  background-position: left -28rem top 12rem, right -7rem top 26rem,
    right -30rem top 128rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 348px;
  margin-inline: auto;
}

.header,
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.header__logo,
.footer__logo {
  font-size: var(--fs-h-m);
  line-height: var(--lh-h-m);
  color: var(--title);
  font-weight: 700;
}

.header__social-list,
.footer__social-list {
  display: flex;
  gap: 2.5rem;
}

.header__social-list__item:hover img,
.footer__social-list__item:hover img {
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero__img {
  order: 1;
  align-self: center;
  z-index: -1;

  /* adding translate Y to move image */
  transform: translateY(-9rem);
}

.hero__img img {
  max-width: 174px;
}

.hero__info {
  order: 2;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  align-items: center;
  text-align: center;

  /* adjusting transform */
  margin-top: -5rem;
}

.hero__info-title {
  color: var(--title);
  font-size: 4rem;
  line-height: 4rem;
}

.hero__info-title span {
  border-bottom: 2px solid var(--deco);
}

.hero__info-para {
  color: var(--para);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.cta {
  color: var(--title);
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--deco);
}

.cta:hover {
  color: var(--deco);
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  text-align: center;
  margin-top: 8rem;

  padding: 4rem 0;

  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.experience__item h2 {
  font-size: 3.2rem;
  line-height: 40px;
  letter-spacing: -0.1rem;
  color: var(--title);
}

.experience__item p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--para);
}

.project {
  margin-top: 8rem;
}

.project__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project__title h3 {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--title);
}

.project__card {
  margin-top: 4rem;
}

.project__card-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.project__card-list__item {
  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.project__card-list__item-img img {
  max-width: 342px;
}

.project__card-list__item-info {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.project__card-list__item-info h4 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: var(--title);
  text-transform: uppercase;
}

.project__card-list__item-info__tags {
  color: var(--para);

  display: flex;
  gap: 1.8rem;
}

.project__card-list__item-btn {
  display: flex;
  gap: 1.6rem;
}

.contact {
  background-color: var(--secondary-bg);
  margin-top: 8rem;
  padding: 6rem 0;

  background-image: url(images/pattern-rings.svg);
  background-repeat: no-repeat;
  background-position: left -30rem top 51rem;
}

.contact__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  text-align: center;
}

.contact__info h2 {
  color: var(--title);
  font-size: 4rem;
  line-height: 4rem;
}

.contact__info p {
  color: var(--para);
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  gap: 3.2rem;
}

.contact__form input,
.contact__form textarea {
  background-color: transparent;
  color: var(--para);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--title);
  padding-bottom: 1.6rem;
}

.contact__form .cta {
  align-self: flex-end;
}

.footer {
  margin-top: 8rem;
  border-top: 2px solid var(--title);
  padding: 3.9rem 0 1rem;
}

.footer__social-list__item a img:hover {
  filter: invert(77%) sepia(99%) saturate(317%) hue-rotate(80deg)
    brightness(300%) contrast(90%);
}

@media (min-width: 768px) {
  body {
    background-position: left -28rem top 12rem, right -7rem top 47rem,
      right -20rem top 110rem;
  }
  .wrapper {
    max-width: 708px;
    position: relative;
  }
  .header,
  .footer {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2.9rem;
  }

  .header__logo,
  .footer__logo {
    font-size: 3.2rem;
  }

  .hero {
    flex-direction: row;
  }

  .hero__info {
    margin-top: 0;
    align-items: flex-start;
    justify-content: center;
    gap: 3.4rem;

    max-width: 445px;
    margin-top: 9rem;

    text-align: left;
  }

  .hero__info-title {
    font-size: 7.2rem;
    line-height: 7.2rem;
    letter-spacing: -0.2rem;
  }

  .hero__info-title span::before {
    content: "";
    display: block;
  }

  .hero__info-para {
    margin-top: 5.6rem;
  }

  .hero__img {
    order: 2;
    transform: none;
    position: absolute;
    top: -5.5rem;
    right: -5.2rem;
  }

  .hero__img img {
    max-width: 322px;
  }

  .experience {
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    gap: 5.2rem;

    margin-top: 6rem;
    padding: 5.2rem 0;
  }

  .experience__item {
    flex-basis: 40%;

    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }

  .experience__item h2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
    letter-spacing: -0.15rem;
  }

  .experience__item p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .project__title h3 {
    font-size: 7.2rem;
    line-height: 7.2rem;
  }

  .project__card {
    margin-top: 6rem;
  }

  .project__card-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 6rem;
  }

  .project__card-list__item {
    flex-basis: 33%;
  }

  .contact {
    background-position: left -30rem top 52rem;
  }

  .contact__info h2 {
    font-size: 7.2rem;
    line-height: 7.2rem;
  }

  .contact__info p {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }

  .footer {
    margin-top: 9.2rem;
  }
}

@media (min-width: 1440px) {
  body {
    background-position: left -28rem top 12rem, right -7rem top 50rem,
      right -20rem top 112rem;
  }

  .wrapper {
    max-width: 1110px;
  }

  .header {
    margin-top: 3.9rem;
  }

  .hero__info {
    max-width: 709px;
  }

  .hero__info-title {
    font-size: var(--fs-h-xl);
    line-height: var(--fs-h-xl);
  }

  .hero__info-para {
    font-size: var(--fs-para-m);
    line-height: var(--lh-para-m);
    margin-top: 4.3rem;
  }

  .hero__img img {
    max-width: 445px;
  }

  .experience {
    margin-top: 21.9rem;
    padding: 7.2rem;
    gap: 5.8rem;
  }

  .experience__item {
    flex-basis: 29%;
  }

  .project_-title h3 {
    font-size: 8.8rem;
    line-height: 8.8rem;
  }

  .project__card {
    margin-top: 8rem;
  }

  .project__card-list {
    column-gap: 3rem;
    row-gap: 6.9rem;
  }

  .project__card-list__item-img img {
    max-width: 540px;
  }

  .contact {
    background-position: left -26rem top 34rem;
  }

  .contact__content {
    display: flex;
    justify-content: space-between;
  }

  .contact__info {
    max-width: 445px;
    align-items: flex-start;
    text-align: left;
  }

  .contact__form {
    min-width: 445px;
  }
}
