@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #ecf2f8;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  max-width: 1110px;
  max-height: 572px;
  display: grid;
  gap: 24px;
  padding: 24px;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.testimonial__card {
  box-shadow: 40px 60px 50px -47px rgba(72, 85, 106, 0.247378);
  border-radius: 8px;
  color: white;
  padding: 32px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.testimonial__card-heading {
  display: flex;
  gap: 1rem;
}

.testimonial__card-heading img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.testimonial__card-heading__details h2 {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 4px;
}

.testimonial__card-heading__details p {
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  opacity: 0.5;
}

.testimonial__card-intro p {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.testimonial__card-para {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #cfcfcf;
  opacity: 0.7;
}

.testimonial__card:nth-of-type(1) {
  background: #733fc8;
  position: relative;
  z-index: 1;
}

.testimonial__card:nth-of-type(1) > img {
  width: 104px;
  position: absolute;
  top: 0;
  right: 24px;
  z-index: -1;
}

.testimonial__card:nth-of-type(2) {
  background: #48556a;
}
.testimonial__card:nth-of-type(3) {
  background: white;
  color: #48556a;
}

.testimonial__card:nth-of-type(3) p {
  color: #48556a;
}

.testimonial__card:nth-of-type(4) {
  background: white;
  color: #48556a;
}

.testimonial__card:nth-of-type(4) p {
  color: #48556a;
}

.testimonial__card:nth-of-type(5) {
  background: #19202d;
}

@media (min-width: 1110px) {
  .testimonial {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .testimonial__card:nth-of-type(1) {
    grid-column: span 2;
    grid-row: 1;
  }

  .testimonial__card:nth-of-type(1) > img {
    right: 80px;
  }

  .testimonial__card:nth-of-type(3) {
    grid-row: span 2;
  }

  .testimonial__card:nth-of-type(5) {
    grid-column: span 2;
  }
}
