<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Card</title>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="shortcut icon"
      href="images/favicon-32x32.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <main class="profileCard">
      <div class="profileCard__image">
        <img src="images/bg-pattern-card.svg" alt="bg-pattern-card" />
      </div>
      <div class="profileCard__heading">
        <img src="images/image-victor.jpg" alt="image-victor" />
        <h2>Victor Creset <span>26</span></h2>
        <p>London</p>
      </div>
      <div class="profileCard__info">
        <div class="profileCard__info-details">
          <h3>80K</h3>
          <p>Followers</p>
        </div>
        <div class="profileCard__info-details">
          <h3>803K</h3>
          <p>Likes</p>
        </div>
        <div class="profileCard__info-details">
          <h3>1.4K</h3>
          <p>Photos</p>
        </div>
      </div>
    </main>
  </body>
</html>
