@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(images/bg-pattern-top-mobile.svg),
    url(images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;
}

.social-proof {
  margin: 82px 24px;
}

.social-proof__rating {
  text-align: center;
}

.social-proof__rating-info h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
  letter-spacing: -1.42857px;
  color: #512051;
}

.social-proof__rating-info p {
  margin-top: 17px;
  font-weight: 500;
  font-size: 19px;
  line-height: 25px;
  letter-spacing: -0.633333px;
  color: #927b91;
}

.social-proof__rating-lists {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-proof__rating-lists__item {
  background: #f7f2f7;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-proof__rating-lists__item p {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #512051;
}

.social-proof__cards {
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.social-proof__cards-item {
  background: #512051;
  border-radius: 8px;
  padding: 40px 32px;
  color: white;
}

.social-proof__cards-item__heading {
  display: flex;
  gap: 23px;
}

.social-proof__cards-item__heading img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.social-proof__cards-item__heading-info h2 {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.social-proof__cards-item__heading-info p {
  font-weight: 400;
  font-size: 17px;
  line-height: 16px;
  color: #ee69a4;
  margin-top: 4px;
}

.social-proof__cards-item__para {
  margin-top: 23px;
}

.social-proof__cards-item__para p {
  font-weight: 500;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.303571px;
}

@media (min-width: 1110px) {
  body {
    background-image: url(images/bg-pattern-top-desktop.svg),
      url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: left top, right bottom;
  }

  .social-proof {
    max-width: 1110px;
  }

  .social-proof__rating {
    display: flex;
    text-align: left;
    gap: 125px;
  }
  .social-proof__rating-info {
    max-width: 445px;
  }

  .social-proof__rating-info h2 {
    font-size: 56px;
    letter-spacing: -2px;
    line-height: 48px;
  }

  .social-proof__rating-info p {
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.633333px;
  }

  .social-proof__rating-lists {
    max-width: 540px;
    margin-top: 0px;
  }

  .social-proof__rating-lists__item {
    width: 100%;
    padding: 20px 32px;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .social-proof__rating-lists__item:nth-of-type(1) {
    align-self: flex-end;
  }

  .social-proof__rating-lists__item:nth-of-type(2) {
    align-self: center;
  }

  .social-proof__rating-lists__item:nth-of-type(3) {
    align-self: flex-start;
  }

  .social-proof__cards {
    margin-top: 71px;
    flex-direction: row;
    gap: 30px;
    height: 266px;
  }

  .social-proof__cards-item:nth-of-type(1) {
    align-self: flex-start;
  }

  .social-proof__cards-item:nth-of-type(2) {
    align-self: center;
  }

  .social-proof__cards-item:nth-of-type(3) {
    align-self: flex-end;
  }
}
