<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Huddle Landing Page</title>
    <link rel="stylesheet" href="style.css" />

    <script
      src="https://kit.fontawesome.com/adce81593c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <div class="header__logo">
        <img src="images/logo.svg" alt="logo" />
      </div>
      <div class="header__content">
        <img src="images/illustration-mockups.svg" alt="illustration-mockups" />

        <div class="header__content-text">
          <h2 class="header__content-text__heading">
            Build The Community Your Fans Will Love
          </h2>
          <p class="header__content-text__para">
            Huddle re-imagines the way we build communities. You have a voice,
            but so does your audience. Create connections with your users as you
            engage in genuine discussion.
          </p>
          <button class="header__content-text__button">Register</button>
        </div>
      </div>
      <div class="header__social">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
      </div>
    </header>
  </body>
</html>
